html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
    color: rgba(255, 0, 0, 0.575);
}

.v-middle {
    vertical-align: middle;
}